@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@layer base {
    

    .tarot{
        @apply w-28 h-40 border-8 border-quint overflow-hidden rounded-md shadow-md
        hover:-translate-y-5 transition hover:brightness-75 hover:border-terz
    }

    img{
        @apply saturate-200 contrast-125
    }
    .tarot-img>img{
        @apply mb-0 align-bottom 
    }
    .cards-container{
        @apply flex flex-wrap p-2 justify-center gap-2 text-center 
        
    }
    .dialog-modal{
        @apply w-52 h-80 border-4 border-purple-950 rounded-lg 
    }

    .selected-card{
        @apply transition hover:scale-125

    }

    .results{
        @apply gap-4 
    }
    button{
        @apply border-4 border-amber-600 text-quart hover:bg-amber-600 hover:text-terz rounded-md px-2
    }
}

.tarot-page{
    max-width: 100vw;
}

/* css che nasconde la scrollbar */


*::-webkit-scrollbar {
    width: 0;   
  }

.dialog-modal::-webkit-scrollbar {
    width: 0;   
  }

  .tarot-page:hover::-webkit-scrollbar{
  width: 0; /* Imposta la larghezza della scrollbar quando attiva */
}
.tarot-page::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Colore della scrollbar */
    border-radius: 5px; /* Bordi arrotondati */
  }

.relative + .relative {
    
    margin-left: -5rem;
    @media (max-width: 640px)  {
        margin-left: 0rem;
        
    } 
}

/* Esempio di margine negativo */

 .tarot-page{
    height:90vh;
}

 @media (max-width: 640px){
    
        .tarot{
            @apply w-16 h-24 border-4  rounded-sm shadow-md
             hover:border-emerald-950
        }
        .choosen-card-button {
            @apply -ml-8 -mt-2 p-12 bg-transparent hover:bg-transparent hover:opacity-50
        }
    
 }
 
